<% title 'Resend confirmation instructions' %>

<header class="intro">
<h3>Resend confirmation instructions</h3>
</header>

</br>

<div class="content">

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= lelylan_error_messages_for(resource) %>

  <div><%= f.label :email %>
  <%= f.email_field :email, class: 'text-input' %></div>

  <div class="bcta"><%= f.submit 'Resend confirmation instructions' class: 'cta' %></div>
<% end %>

</div>
