<% title 'Authorize application' %>

<header class="intro">
<h3 class="colored">Authorization for <%= @authorization.client.name %></h3>
</header>

<div class="content">

  <div class="authorizations">
    <% if @authorization.scopes %>
      <h4>This application will be able to</h4>
      <ul>
        <% @authorization.scopes.each do |scope| %>
          <li><%= t scope, :scope => [:doorkeeper, :scopes]  %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  </br>

  <div class="authorizations">
    <p>
      <%= link_to 'Filter Accessible Devices', devices_path(authorization_params), class: 'cta' %>
    </p>
  </div>

  </br>
  <hr>

  <div class="bcta">
    <%= form_for @authorization, as: :authorization, url: oauth_authorization_path, method: :post do |f| %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :redirect_uri %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :response_type %>
      <%= f.hidden_field :scope %>
      <%= f.check_box :expirable, checked: true %> <%= f.label :expirable %>
      <%= f.submit 'Authorize Access', class: 'cta grant' %>
    <% end %> or
    <%= form_for @authorization, as: :authorization, url: oauth_authorization_path, method: :delete do |f| %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :redirect_uri %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :response_type %>
      <%= f.hidden_field :scope %>
      <%= f.submit 'Deny', class: 'cta' %>
    <% end %>
  </div>
</div>
