<% title 'Authorize application' %>

<header class="intro">
<h3 class="colored">Authorization for <%= @pre_auth.client.name %></h3>
</header>

<div class="content">

  <div class="authorizations">
    <% if @pre_auth.scopes %>
      <h4>This application will be able to</h4>
      <ul>
        <% @pre_auth.scopes.each do |scope| %>
          <li><%= t scope, :scope => [:doorkeeper, :scopes]  %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  </br>

  <div class="authorizations">
    <p>
    <%= link_to 'Filter Accessible Devices', devices_path(authorization_params), class: 'btn' %>
    </p>
  </div>

  <div class="bcta">
    <%= form_tag oauth_authorization_path, method: :post do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= check_box_tag :expirable, 'true', true, class: 'expirable-label colored' %>
      <%= label_tag     :expirable, 'Expirable token', class: 'expirable-label colored' %>
      </br></br><hr></br>
      <%= submit_tag 'Authorize', class: 'cta grant' %>
    <% end %> or
    <%= form_tag oauth_authorization_path, method: :delete do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag 'Deny', class: 'cta' %>
    <% end %>
  </div>
</div>
