<% title 'Change your user profile' %>

<header class="intro">
<h3>Change your user profile</h3>
</header>

</br>

<div class="content">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <% if resource.errors.any? %>
    <div class="errors"><%= devise_error_messages! %></div>
  <% end -%>

  <div><%= f.label :email %>
  <%= f.email_field :email, class: 'text-input' %></div>

  <div><%= f.label :full_name %>
  <%= f.text_field :full_name, class: 'text-input' %></div>

  <div><%= f.label :username %>
  <%= f.text_field :username, class: 'text-input' %></div>

  <div><%= f.label :location %>
  <%= f.text_field :location, class: 'text-input' %></div>

  <div><%= f.label :homepage %>
  <%= f.text_field :homepage, class: 'text-input' %></div>

  </br>

  <div class="bcta"><%= f.submit 'Update your profile', class: 'cta' %></div>

  </br>
<% end %>

<hr>
<div class="bcta">
  <%= link_to 'Change my password', edit_password_path(resource_name), class: 'cta' %>
  <%= link_to 'Cancel my account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'cta danger' %>
</div>
