<header class="intro">
<h2>Sign up to Lelylan</h2>
<h3>{ connected house for developers }</h3>
</header>

</br>

<div class="content">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, class: 'text-input' %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password, class: 'text-input' %></div>

  <div class="bcta"><%= f.submit 'Sign up', class: 'cta' %></div>
<% end %>

</div>
