<% if params[:controller] != 'authorizations' and params[:controller] != 'devices'  -%>
<% if user_signed_in? -%>
  <li>
  <strong style="font-size:14px; text-style:underline"><%= link_to 'Developers', "#{dev_host}" %></strong>
  </li>
  <% if current_user.admin %>
  <li>
  <%= link_to 'Subs', subscriptions_path  %>
  </li>
  <% end %>
  <li>
  <%= link_to 'Profile', edit_user_registration_path %>
  </li>
  <li>
  <%= link_to 'Authorized Applications', oauth_authorized_applications_path %>
  </li>
  <li>
  <%= link_to 'Your Applications', oauth_applications_path %>
  </li>
  <li>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li>
  <%= link_to 'Sign in', new_user_session_path  %>
  </li>
  <!--<li>-->
  <%# link_to 'Sign up', new_user_registration_path  %>
  <!--</li>-->
  <li>
  <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
  </li>
<% end -%>
<% end -%>
