<% title 'Filter accessible resources' %>

<header class="intro">
<h3 class="colored">Filter accessible resources</h3>
</header>

<div class="content">

  <p><%= link_to 'Back to authorization', oauth_authorization_path(authorization_params), class: 'cta' %></p>

  <div class="content">

    <div class="authorizations devices">

      <table class="zebra-striped">
        <thead>
          <tr>
            <th colspan="3">Directly add the accessible devices</th>
          </tr>
        </thead>
        <tbody>
          <% @devices.each do |device| %>
            <tr id="device_<%= device.id %>">
              <td><%= device.name %></td>
              <% if session[:resources].has_key? device.id.to_s %>
                <td class="btn-container"><%= link_to 'Remove', device_path(device, device_params(device)), method: :delete, class: 'cta' %></td>
              <% else %>
                <td class="btn-container"><%= link_to 'Add', devices_path(device_params(device)), method: :post, class: 'cta' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="authorizations locations">

      <table class="zebra-striped">
        <thead>
          <tr>
            <th colspan="3">Add all devices contained in specific locations</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.each do |location| %>
            <tr id="location_<%= location.id %>">
              <td><%= location.name %></td>
              <% if session[:resources].has_key? location.id.to_s %>
                <td class="btn-container"><%= link_to 'Remove', device_path(location, location_params(location)), method: :delete, class: 'cta' %></td>
              <% else %>
                <td class="btn-container"><%= link_to 'Add', devices_path(location_params(location)), method: :post, class: 'cta' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
