<%= form_for([:oauth, application]) do |f| %>
    <% if application.errors.any? %>
      <div class="alert-message error" data-alert><a class="close" href="#">×</a><p>Whoops! Check your form for possible errors</p></div>
    <% end %>

    <div><%= f.label :name %>
    <%= f.text_field :name, class: 'text-input' %></div>

    <div><%= f.label :redirect_uri %> <label><i>(e.g http://www.example.com/callback)</i></label>
    <%= f.text_field :redirect_uri, class: 'text-input' %></div>

    <div class="bcta"><%= f.submit :Submit, class: 'cta' %>
    <%= link_to "Cancel", oauth_applications_path, class: 'cta' %>
    </div>
<% end %>

