<header class="intro">
<h3>Your applications</h3>
</header>


<div class="content">

  <div class="bcta"><%= link_to 'New Application', new_oauth_application_path, class: 'cta' %></>
  </br>
  </br>

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Callback url</th>
        <th style="width:50px;"></th>
        <th style="width:50px;"></th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr id="application_<%= application.id %>">
          <td><%= link_to application.name, [:oauth, application] %></td>
          <td><%= application.redirect_uri %></td>
          <td class="btn-container"><%= link_to 'Edit', edit_oauth_application_path(application), :class => 'btn' %></td>
          <td class="btn-container"><%= link_to 'Delete', [:oauth, application], :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
