<% title 'Your Applications' %>

<header class="intro">
<h3><span class="colored"><%= @application.name %></span></h3>
</header>

</br>

<div class="content show-details">

  <div><label>Redirect URL</label>
  <p class="big colored"><%= @application.redirect_uri %></p></div>

  <div><label>Client ID</label>
  <p class="small colored"><%= @application.uid %></p></div>

  <div><label>Client Secret</label>
  <p class="small colored"><%= @application.secret %></p></div>

  <div class="bcta"><%= link_to 'Edit your application', edit_oauth_application_path(@application), :class => 'cta' %><div>
</div>
