<% title 'Forgot your password?' %>

<header class="intro">
<h3>Forgot your password?</h3>
</header>

</br>

<div class="content">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <% if resource.errors.any? %>
    <div class="errors"><%= devise_error_messages! %></div>
  <% end -%>

  <div><%= f.label :email %>
  <%= f.email_field :email, class: 'text-input' %></div>

  <div class="bcta"><%= f.submit 'Send me reset password instructions', class: 'cta' %></div>
<% end %>

</div>
