<% title 'Building the Connected Home' %>

<header class="intro">
<h2>Building the Connected Home</h2>
<h3>with Lelylan</h3>
</header>

</br>

<% if not user_signed_in? %>
<aside>

  <section>
    <header>For Makers</header>
    <p>
    New physical devices for your home connected to the web in no time
    </p>
  </section>

  <section>
    <header>Developers</header>
    <p>
    A simple and open set of REST API to easily create new apps
    </p>
  </section>

  <section>
    <header>Collaborations</header>
    <p>
    Made up from people who want to improve the connected home
    </p>
  </section>

</aside>
</br><hr/>

<% end %>



<% if user_signed_in? %>
  <a href="<%= "#{dev_host}/start/introduction"%>">
    <%= image_tag('dev-center.png', class: 'dev-center img-polaroid', alt: 'Dev Center') %>
  </a>
  <br/><br/>
  <div class="content">
    <div class="bcta"><a href="<%= "#{dev_host}/start/introduction"%>" class="cta">Start Building the Connected Home</a></div>
  </div>
<% else %>
  <div class="content">
    <div class="bcta">
      <%= link_to 'Sign in', new_user_session_path, class:'cta' %> or
      <%= link_to 'Ask for an invitation', new_subscription_path, class:'cta' %>
    </div>
  </div>
<% end %>
