<%= form_for @subscription do |f| %>

  <div><%= f.label :email %>
  <%= f.text_field :email, class: 'text-input' %></div>

  <div>
  <label>Tell us why you want a Lelylan access</label>
  <%= f.text_area :description, class: 'text-input' %></div>

  <div class="bcta"><%= f.submit 'Subscribe', class: 'cta' %></div>

<% end %>
