<% title t 'devise.invitations.edit.header' %>

<header class="intro">
<h3><%= t 'devise.invitations.edit.header' %></h3>
</header>

</br>

<div class="content">

  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>

    <%= lelylan_error_messages_for(resource) %>

    <%= f.hidden_field :invitation_token %>

    <div><%= f.label :password %>
      <%= f.password_field :password, class: 'text-input' %></div>

    <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'text-input' %></div>

    <div class="bcta"><%= f.submit t('devise.invitations.edit.submit_button'), class: 'cta'  %></div>
  <% end %>

</div>
