<% title t 'devise.invitations.new.header' %>

<header class="intro">
<h3><%= t 'devise.invitations.new.header' %></h3>
</header>

</br>

<div class="content">

  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>

    <%= lelylan_error_messages_for(resource) %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div><%= f.label field %>
        <%= f.text_field field, class: 'text-input' %></div>
    <% end -%>

    <div class="bcta"><%= f.submit t('devise.invitations.new.submit_button'), class: 'cta' %></div>
  <% end %>
</div>
