<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render 'shared/services/analytics' %>
  </head>

  <body class="pages pages-index">

    <section id="section">

    <header id="header">
    <div class="left">
      <h1><a href="/">Lelylan</a></h1>
    </div>

    <nav class="right">
    <ul>
      <%= render "devise/shared/links" %>
    </ul>
    </nav>
    </header>

    <article>

    <header class="intro">
    <% if alert -%><h3 class="errors"><%= alert %></h3><% end -%>
    <% if notice -%><h3 class="notices"><%= notice %></h3><% end -%>
    </header>
    <%= yield %>
    </article>

    </br>
    </section>

    <%#<footer id="footer">%>
    <%#<ul>%>
      <%#<li><a href="http://lelylan.com/blog/">Latest from the Blog</a></li>%>
      <%#<li><a href="http://lelylan.com/about/">About Lelylan</a></li>%>
    <%#</ul>%>
    <%#</footer>%>
  </body>
</html>

